/*--TYPOGRAPHY--
font-family: 'ZCOOL XiaoWei', serif;
font-family: 'Roboto', sans-serif;
*/

/*--GLOBAL STYLES--*/
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: ghostwhite;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

p {
    font-family: 'ZCOOL XiaoWei', serif;
    color: #010104;
}

ul {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: large;
}

nav {
    font-family: 'Roboto', sans-serif; 
}

a {
    text-decoration: none;
    color: #E86829;
}

/*--NAVIGATION--*/
.main-nav {
    list-style-type: none;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.main-nav a {
    text-decoration: none;
    font-size: 2rem;
     color: white;
}

.main-nav a:hover {
    border: solid white 3px;
    padding: 3px 4px;
    transition: border 0.2s ease-in-out;
}


/*--BLOG PAGE--*/

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-item a {
    color: black;
}

.grid-item b {
    color: #764300;
    text-transform: uppercase;
}

.grid-item {
    border: solid black 3px;
    font-size: medium;
    margin: 20px;
}


.grid-item p {
    padding: 10px;
}




/*--BLOG PAGE MEDIA QUERY--*/

@media screen and (min-width: 600px) {
    .grid-container {
        max-width: 1100px;
        margin: 0 auto;
        flex-wrap: nowrap;
        padding: 6rem 0;
        height: 100%;
    }
    
    .grid-item:nth-of-type(2) {
        margin-top: 6rem;
    }
    
    .grid-item:nth-of-type(3) {
        margin-top: 9rem;
    }
    }

/*--Global Blog--*/
.blog-title {
    font-size: x-large;
    margin-bottom: 10px;
    padding: 8px;
    color: #764300;
    text-transform: uppercase;
    
}

.blog-container {
    padding: 20px;
    font-size: large;
}

.blog-container p, h2{
    padding: 10px;
}

.references {
    padding: 10px;
    
}

.sourced-from {
    font-size: medium;
}

/*--BLOG PAGE 1 MEDIA QUERY--*/

@media screen and (min-width: 45em) {
    .blog-container {
        max-width: 700px;
        margin: 0 auto;
    }

    .blog-images {
        max-width: 400px;
    }
}

/*--BLOG PAGE 2--*/

/*--BLOG PAGE 3--*/

/*--FOOTER--*/
.page-footer {
    background-color: black;  
    color: white;
    padding: 10px;
    font-size: small;
}

.page-footer a  {
color: white;
}

.page-footer p {
    color: white;
}